h1{
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Croissant One', cursive;
    text-shadow: 5px 5px 5px rgb(151, 148, 148);
}
#div_heading{
    background-color:rgba(5, 62, 5, 0.788);
}
#footer{
    background-color:rgba(5, 62, 5, 0.849); ;
    color: rgb(246, 237, 237);
    bottom:0px;
    position:fixed;
    width: 100%;
    font-size: 18px;
}
#div_footer{
    font-size: 23px;
}
.abc{
    font-size: 15px;
    background-color: blue;
}
body{
    background-color: rgba(7, 154, 7, 0.823);
    width:100%;
}
#canvas{
    height:450px;
    width:450px;
    border-radius: 100px;
    
    
}
.buttons{
    width:100px;
    height:50px;
    border-radius: 10px;
    background-color: rgb(245, 244, 244);
    border-color:green;
    border-width:3px;
    box-shadow: 4px 4px 2px 2px rgb(208, 207, 207);
    color: black;
}
